*.rpyc
*.rpymc
errors.txt
log.txt
traceback.txt
**/cache/*
**/saves/*
game/saves/*.save
game/saves/navigation.json
game/saves/persistent
game/cache/bytecode-39.rpyb
game/cache/py3analysis.rpyb
game/cache/screens.rpyb
game/cache/shaders.txt
.vscode/settings.json
